<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav" style="margin-bottom: 20px ;">
        <a class="active" href="/v1">Home</a>
        <a href="/v1/create">Create-user</a>
    </div>
    <div class="w3-container">
        <h2>Table User</h2>

        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>


            <% data.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href='/v1/update/<%= user.id %>'>edit</a>
                        <form action="/v1/delete-user/<%= user.id %>" method="POST"><button>delete</button></form>
                    </td>
                </tr>
                <% }) %>



        </table>
    </div>
</body>

</html>